<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<div layout:fragment="content">

    <div class="sub_page noti_page write">
        <div class="inner">
            <div class="sub_top_ttl">
                <h3>중고도서 등록하기</h3>
            </div>
            <div class="wfrm">
                <div class="frm-box">
                    <form name="writeFrm" method="post" action="/product/write" enctype="multipart/form-data"
                          onsubmit="validateForm(this)" class="wfrm">
                        <div class="frm_wrap">
                            <div class="info">
                                <div class="top">
                                    <img src="/img/sub/check.png">
                                    <h3>판매 전 확인해주세요.</h3>
                                    <p>등록 전, 아래 내용을 한 번만 점검해주시면 원활한 거래에 도움이 됩니다.</p>
                                </div>
                                <ul>
                                    <li>
                                        <p>실제 보유 도서만<br>등록해주세요.</p>
                                        <span>등록하신 책은 반드시 직접 보유하고 있는 도서여야 합니다.</span>
                                    </li>
                                    <li>
                                        <p>책 상태를 <br>솔직하게 써주세요.</p>
                                        <span>밑줄, 낙서, 훼손 등 책의 상태를 정확하게 기재하면 구매자 신뢰를 얻을 수 있습니다.</span>
                                    </li>
                                    <li>
                                        <p>허위 정보 등록은 <br>제한됩니다.</p>
                                        <span>잘못된 정보를 사용하면 판매가 제한될 수 있습니다.</span>
                                    </li>
                                </ul>
                            </div>
                            <table class="">
                                <tr>
                                    <td>제목</td>
                                    <td class="flex"><input type="text" name="title" placeholder="제목을 입력해주세요">
                                        <input type="button" name="title" value="검색">
                                    </td>
                                </tr>
                                <tr>
                                    <td>이미지 url</td>
                                    <td><input type="text" name="bookImageUrl" id="bookImageUrl" placeholder="이미지 url 임시"></td>
                                </tr>
                                <tr>
                                    <td>저자</td>
                                    <td><input type="text" name="author" placeholder="저자를 입력해주세요"></td>
                                </tr>
                                <tr>
                                    <td>출판사</td>
                                    <td><input type="text" name="publisher" placeholder="출판사를 입력해주세요"></td>
                                </tr>
                                <tr>
                                    <td>가격</td>
                                    <td><input type="text" name="price" placeholder="가격을 입력해주세요"></td>
                                </tr>
                                <tr>
                                    <td>도서 상태</td>
                                    <td class="state">
                                        <label>
                                            <input type='checkbox' name='conditions' value='겉표지 손상'/>겉표지 손상
                                        </label>
                                        <label>
                                            <input type='checkbox' name='conditions' value='밑줄&표시있음'/>밑줄&표시있음
                                        </label>
                                        <label>
                                            <input type='checkbox' name='conditions' value='제본상태불량'/>제본상태불량
                                        </label>
                                        <label>
                                            <input type='checkbox' name='conditions' value='낙장&표지없음'/>낙장&표지없음
                                        </label>
                                        <label>
                                            <input type='checkbox' name='conditions' value='도서관&자료실적인'/>도서관&자료실적인
                                        </label>
                                        <label>
                                            <input type='checkbox' name='conditions' value='교사용'/>교사용
                                        </label>
                                        <label>
                                            <input type='checkbox' name='conditions' value='물기&얼룩'/>물기&얼룩
                                        </label>
                                        <label>
                                            <input type='checkbox' name='conditions' value='세로읽기'/>세로읽기
                                        </label>
                                        <label>
                                            <input type='checkbox' name='conditions' value='CD/부록없음'/>CD/부록없음
                                        </label>
                                        <label>
                                            <input type='checkbox' name='conditions' value='스탬플러자국'/>스탬플러자국
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" class="btn03">목록보기</button>
                            <button type="reset" class="btn02">Reset</button>
                            <button type="submit" class="btn01">책등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="pop_wrap type2" id="searchPopup">
        <div class="popup">
            <h3>검색하기</h3>
            <div class="search_list_wrap">
                <ul class="search_list">
                    <li>
                        <button type="button">
                            <div class="img">
                                <img src="../img/main/sample.jpg">
                            </div>
                            <div class="text">
                                <p class="title">책이름</p>
                                <p class="desc">책저자책저자책저자</p>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <div class="img">
                                <img src="../img/main/sample.jpg">
                            </div>
                            <div class="text">
                                <p class="title">어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름</p>
                                <p class="desc">책저자책저자책저자</p>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <div class="img">
                                <img src="../img/main/sample.jpg">
                            </div>
                            <div class="text">
                                <p class="title">어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름</p>
                                <p class="desc">책저자책저자책저자</p>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <div class="img">
                                <img src="../img/main/sample.jpg">
                            </div>
                            <div class="text">
                                <p class="title">어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름어쩌고책이름책이름책이름</p>
                                <p class="desc">책저자책저자책저자</p>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
            <button class="close_btn" type="button"><img src="../img/sub/close.png"></button>
        </div>
    </div>
</div>