<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <title>공지사항 상세수정</title>

    <!-- Layout CSS -->
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/sub.css}"/>
    <!-- Detail CSS -->
    <link rel="stylesheet" th:href="@{/css/detail.css}"/>
</head>

<body>
<div layout:fragment="content">
    <div class="noti_page sub_page">
        <div class="inner">
            <div class="view">
                <div class="top">
                    <h2 th:text="${board.title}">$[[board.title]]</h2>
                    <div class="info">
                        <p>
                            <span>작성자</span><span th:text="${board.writer}"></span>
                        </p>
                        <p>
                            <span>작성일</span><span th:text="${#temporals.format(board.indate,'yyyy-MM-dd')}"></span>
                        </p>
                        <p>
                            <span>조회수</span><span th:text="${board.count}">0</span>
                        </p>
                    </div>
                </div>
                <div class="content">
                    <p th:utext="${board.content}"></p>
                    <div class="imgBox" th:if="${board.sfile != null}">
                        <img th:src="@{/uploads/{file}(file=${board.sfile})}" alt="첨부 이미지"/>
                    </div>
                </div>
                <div class="bottom" th:if="${board.sfile != null}">
                    <h3>첨부파일</h3>
                    <div>
                        <p th:text="${board.ofile}"></p>
                        <a th:href="@{'/upload/' + ${board.sfile}}" th:text="${board.ofile}">파일명</a>
                    </div>
                </div>
            </div>
            <!-- 로그인한 ADMIN만 보이도록 -->
            <div class="notice-btn-box">
                <button class="btn" onclick="location.href='/noti/list'">목록으로</button>
                <a class="btn" th:href="@{/noti/noticeModify/{idx}(idx=${board.idx})}" sec:authorize="hasRole('ADMIN')">수정</a>
                <a class="btn" th:href="@{/noti/delete/{idx}(idx=${board.idx})}" sec:authorize="hasRole('ADMIN')">삭제</a>
            </div>
        </div>
    </div>
    <!--희정님 원본-->
    <!--<div class="notice-detail-container">
        <h1 th:text="${board.title}">공지사항 제목</h1>

        <p class="writer">작성자: <span th:text="${board.writer}">작성자</span></p>
        <p class="date">작성일: <span th:text="${#temporals.format(board.indate,'yyyy-MM-dd')}">2025-11-08</span></p>
        <p class="views">조회수: <span th:text="${board.count}">0</span></p>

        <div class="content" th:utext="${board.content}"></div>

        &lt;!&ndash; 첨부 파일 &ndash;&gt;
        <div class="file-section" th:if="${board.sfile != null}">
            <p>첨부 파일:
                <a th:href="@{'/upload/' + ${board.sfile}}" th:text="${board.ofile}">파일명</a>
            </p>
        </div>

        &lt;!&ndash; 이미지 박스 &ndash;&gt;
        <div class="image-box" th:if="${board.sfile != null}">
            <img th:src="@{/uploads/{file}(file=${board.sfile})}" alt="첨부 이미지"/>
        </div>



        &lt;!&ndash; 로그인한 ADMIN만 보이도록 &ndash;&gt;
        <div class="notice-btn-box">
            <button class="btn" onclick="location.href='/noti/list'">목록으로</button>
            <a class="btn" th:href="@{/noti/noticeModify/{idx}(idx=${board.idx})}" sec:authorize="hasRole('ADMIN')">수정</a>
            <a class="btn" th:href="@{/noti/delete/{idx}(idx=${board.idx})}" sec:authorize="hasRole('ADMIN')">삭제</a>
        </div>
    </div>-->
</div>


</body>
</html>
