<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/layout.html}">

<head>
    <!-- 페이지별 CSS 적용 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/noti.css}">
    </th:block>
</head>

<div layout:fragment="content">
    <div class="sub_page noti_page">
        <div class="inner">
            <div class="sub_top_ttl">
                <h3>공지사항 목록</h3>
            </div>

            <!-- 작성 버튼 (ADMIN 권한만) -->
            <div class="btn-box">
                <div sec:authorize="hasRole('ADMIN')">
                    <button class="btn" th:onclick="'location.href=\'/noti/noticeAdd\';'">작성</button>
                </div>
            </div>

            <!-- 공지사항 리스트 -->
            <ul class="noti_list">
                <li th:each="board : ${noticeList}"
                    th:onclick="|location.href='@{/noti/detail/{id}(id=${board.idx})}'|"
                    class="itm">
                    <div class="top">
                        <span th:text="'No.' + ${board.idx}"></span>
                        <span th:text="${board.indate}"></span>
                    </div>
                    <p class="title" th:text="${board.title}"></p>
                    <div class="bottom">
                        <p>
                            <span>조회수</span>
                            <span th:text="${board.count}"></span>
                        </p>
                        <!--이미지파일 글자 출력 하지 안도록 하는 코드 -->
                        <!-- <a th:if="${board.ofile != null}" th:text="${board.ofile}"></a> -->
                        <!-- 업로드 이미지 썸네일 -->
                        <p th:if="${board.sfile != null}">
                            <img th:src="@{/uploads/{file}(file=${board.sfile})}"
                                 alt="첨부 이미지"
                                 style="max-width:100px;"/>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>
