<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<div layout:fragment="content">
    <div class="sub_page pay_page">
        <div class="inner">
            <div class="sub_top_ttl">
                <h3>주문서작성/결제</h3>
            </div>
            <div class="cart_wrap">
                <form class="flex__form" action="/order/complete" method="post">
                     <input type="hidden" name="userId" th:value="${member.id}" />
                    <div class="cart_detail">
                        <div class="cart__itm__list">
                            <div th:each="item : ${orderItems}" class="cart__list__itm">
                                <div class="img">
                                    <img src="../img/main/sample.jpg" alt="" />
                                </div>
                                <div>
                                    <p th:text="${item.product.title}" class="title"></p>
                                    <p class="author">저자저자저자</p>
                                    <span class="price"
                                          th:text="${#numbers.formatInteger(item.product.price, 3, 'COMMA')} + '원'"></span>
                                    <span>119,000</span>
                                </div>
                            </div>
                        </div>
                        <div class="pay__user__info">
                            <h5>주문자 정보</h5>
                            <div>
                                <div>
                                    <span>이름</span>
                                    <input type="text" readonly th:value="${member.username}"/>
                                </div>
                                <div>
                                    <span>주소</span>
                                <input type="text" th:value="${member.address}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart_info_wrap">
                        <div class="cart_info">
                            <h3>주문 확인</h3>
                            <div>
                                <span>상품금액</span>
                                <p data-th-text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}">10,000 <span>원</span></p>
                            </div>
                            <div>
                                <span>상품 수량</span>
                                <p th:text="${totalQuantity} + ' 개'">0 개</p>
                            </div>
                            <div class="total">
                                <span>최종 결제금액</span>
                                <p data-th-text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}">3,0000 <span>원</span></p>
                            </div>
                            <button
                                    type="submit"
                                    name="orderItem"
                                    value="상품ID"
                                    class="cart__list__orderbtn">
                                결제하기
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>