<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">


<div layout:fragment="content">
    <div class="sub_page my_page">
        <div class="inner">
            <div class="sub_top_ttl">
                <h3>마이페이지</h3>
            </div>
            <div class="flex__box">
                <div class="sub__nav__wrap">
                    <div class="sub__nav">
                        <div class="top">
                            <p>반갑습니다. <br>
                                <span th:text="${user.username + '님'}"></span>
                            </p>
                        </div>
                        <ul class="sub__nav__list">
                            <li class="sub__nav__itm">
                                <h3>판매</h3>
                                <a href="/mypage/writeList">작성한 글</a>
                                <a href="/mypage/saleComplete">판매 완료 도서</a>
                            </li>
                            <li class="sub__nav__itm">
                                <h3>구매</h3>
                                <a href="/mypage/orderList">나의 주문내역</a>
                                <a href="/mypage/payManagement">결제수단관리</a>
                            </li>
                            <li class="sub__nav__itm">
                                <a href="/mypage/withdrawal">계정탈퇴</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="con">
                    <h3 class="mypage__sub__tit">회원정보</h3>
                    <table class="info__table">
                        <tr>
                            <td>이름</td>
                            <td th:text="${user.name}"></td>
                        </tr>
                        <tr>
                            <td>아이디</td>
                            <td th:text="${user.username}"></td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td th:text="${user.address}"></td>
                        </tr>
                        <tr>
                            <td>아이디 생성 날짜</td>
                            <td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                        <tr>
                            <td>아이디 수정 날짜</td>
                            <td th:text="${#temporals.format(user.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                    </table>
                    <form action="/mypage/infoModify" method="get" class="btn_wrap">
                        <button type="submit" class="btn_wrap btn01">회원정보수정</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>