<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<div layout:fragment="content">
    <div class="sub_page my_page">
        <div class="inner">
            <div class="sub_top_ttl">
                <h3>마이페이지</h3>
            </div>
            <div class="flex__box">
                <div class="sub__nav__wrap">
                    <div class="sub__nav">
                        <div class="top">
                            <p>반갑습니다. <br>
                                <span>홍길동 </span> 님
                            </p>
                        </div>
                        <ul class="sub__nav__list">
                            <li class="sub__nav__itm">
                                <h3>판매</h3>
                                <a href="/mypage/writeList">작성한 글</a>
                                <a href="/mypage/saleComplete" >판매 완료 도서</a>
                            </li>
                            <li class="sub__nav__itm">
                                <h3>구매</h3>
                                <a href="/mypage/orderList" >나의 주문내역</a>
                                <a href="/mypage/payManagement" class="on">결제수단관리</a>
                            </li>
                            <li class="sub__nav__itm">
                                <a href="/mypage/withdrawal">계정탈퇴</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="con">
                    <div class="board_info">
                        <h3 class="mypage__sub__tit type2">결제수단관리</h3>
                    </div>
                    <form action="/payMethod/register" method="post">
                        <table class="info__table">
                            <tr>
                                <td>결제수단</td>
                                <td>
                                    <div class="select_box">
                                        <select name="methodType" required>
                                            <option>계좌이체</option>
                                            <option>카드결제</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>은행</td>
                                <td>
                                    <div class="select_box">
                                        <select name="bankName" required>
                                            <option>부산은행</option>
                                            <option>하나은행</option>
                                            <option>기업은행</option>
                                            <option>카카오뱅크</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>계좌번호</td>
                                <td><input type="text" placeholder="계좌번호를 입력해주세요" name="accountNumber"></td>
                            </tr>
                        </table>
                        <div class="btn_wrap">
                            <button type="submit" class="btn01">결제수단 등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>