<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<div layout:fragment="content">
    <div class="sub_page">
        <div class="inner">
            <div class="sub_top_ttl">
                <h3>회원가입 완료</h3>
            </div>
            <div class="alert_box type3">
                <img src="../img/common/join_complete.png" class="ico" />
                <h3>회원가입이 완료되었습니다.</h3>
                <a href="/member/login.html">로그인 바로가기</a>
            </div>
        </div>
    </div>
</div>