<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<div layout:fragment="content">
    <div class="sub_page">
        <div class="inner">
            <div class="sub_top_ttl">
                <h3>해외 도서</h3>
            </div>
            <div class="board_search">
                <form action="">
                    <div class="search_con">
                        <div class="select_box">
                            <select>
                                <option>전체</option>
                                <option>제목</option>
                                <option>저자</option>
                            </select>
                        </div>
                        <input type="text" value="키워드를 입력해주세요.">
                        <input type="submit" value="">
                    </div>
                </form>
            </div>
            <div class="board_info">
                <div>
                    <p>총 <span class="count">23</span> 개의 상품</p>
                </div>
                <div class="sort_btn_wrap">
                    <button class="on" type="button">최신순</button>
                    <button type="button">인기순</button>
                </div>
            </div>

            <div class="product_wrap">
                <ul class="product_list">
                    <li class="itm">
                        <a href="/foreign/detail">
                            <div class="img">
                                <img src="../img/main/sample.jpg" alt="">
                            </div>
                            <p class="title">책제목책제목책제목</p>
                            <span class="author">책저자</span>
                            <p class="price">1,500 <span>원</span></p>
                        </a>
                    </li>
                    <li class="itm">
                        <a href="">
                            <div class="img">
                                <img src="../img/main/sample.jpg" alt="">
                            </div>
                            <p class="title">책제목책제목책제목 책제목책제목책제목 책제목책제목책제목 책제목책제목책제목 책제목책제목책제목 책제목책제목책제목</p>
                            <span class="author">책저자 책저자 책저자 책저자 책저자 책저자 책저자 책저자 책저자</span>
                            <p class="price">1,500 <span>원</span></p>
                        </a>
                    </li>
                    <li class="itm">
                        <a href="">
                            <div class="img">
                                <img src="../img/main/sample.jpg" alt="">
                            </div>
                            <p class="title">책제목책제목책제목</p>
                            <span class="author">책저자</span>
                            <p class="price">1,500 <span>원</span></p>
                        </a>
                    </li>
                    <li class="itm">
                        <a href="">
                            <div class="img">
                                <img src="../img/main/sample.jpg" alt="">
                            </div>
                            <p class="title">책제목책제목책제목</p>
                            <span class="author">책저자</span>
                            <p class="price">1,500 <span>원</span></p>
                        </a>
                    </li>
                    <li class="itm">
                        <a href="">
                            <div class="img">
                                <img src="../img/main/sample.jpg" alt="">
                            </div>
                            <p class="title">책제목책제목책제목</p>
                            <span class="author">책저자</span>
                            <p class="price">1,500 <span>원</span></p>
                        </a>
                    </li>
                    <li class="itm">
                        <a href="">
                            <div class="img">
                                <img src="../img/main/sample.jpg" alt="">
                            </div>
                            <p class="title">책제목책제목책제목</p>
                            <span class="author">책저자</span>
                            <p class="price">1,500 <span>원</span></p>
                        </a>
                    </li>
                    <li class="itm">
                        <a href="">
                            <div class="img">
                                <img src="../img/main/sample.jpg" alt="">
                            </div>
                            <p class="title">책제목책제목책제목</p>
                            <span class="author">책저자</span>
                            <p class="price">1,500 <span>원</span></p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pagenation_wrap">

                <!-- Paging script goPage() -->
                <p class="pagenation"><a href="#" data-role="goPage" data-page="1" class="first angle-left-thin" aria-label="Previous"></a><a href="#" data-role="goPage" class="arrow-left" data-page="1" aria-label="dec"></a><strong href="#" class="active" data-role="goPage" data-page="1">1</strong><a href="#" data-role="goPage" data-page="2">2</a><a href="#" data-role="goPage" data-page="3">3</a><a href="#" data-role="goPage" data-page="4">4</a><a href="#" data-role="goPage" data-page="5">5</a><a href="#" data-role="goPage" data-page="6">6</a><a href="#" data-role="goPage" data-page="7">7</a><a href="#" data-role="goPage" data-page="8">8</a><a href="#" data-role="goPage" data-page="9">9</a><a href="#" data-role="goPage" data-page="10">10</a><a href="#" data-role="goPage" class="arrow-right" data-page="2" aria-label="inc"></a><a href="#" data-role="goPage" data-page="11" class="last angle-right-thin" aria-label="Next"></a></p>
            </div>
        </div>
    </div>
</div>