/*헤더*/
.inner{max-width: 1224px; margin: 0 auto; padding: 0 12px;}
.header{padding:20px 0; border-bottom: 1px solid #ddd; position: fixed; top: 0; left: 0; width: 100%; z-index: 2;}
.header{background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
.header__inner {display: flex; align-items: center; justify-content: space-between;}
.header .header__left{display: flex; gap: 40px;}
.header h1 a{font-size: 40px; font-weight: 900; font-family: SeoulNotice;
 color:var( --point-color)}
.header nav{display: flex; align-items: center;}
.header nav ul {display: flex; align-items: center; gap: 40px;}
.header nav ul li a{font-size: 18px; color: #222; font-weight: 600; position: relative;}
.header nav ul li a:after{content: ""; display: block; width: 4px; height: 4px; border-radius: 32px; background: var(--point-color);
position: absolute; top: -10px; left: 50%; transform: translateX(-50%) scale(0); transition: all .3s; }
.header nav ul li a:hover:after{transform: translateX(-50%) scale(1);}

.header__right{display: flex; align-items: center; gap: 20px;}
.header__right .member_box{display: flex; align-items: center; gap: 10px;}
.header__right .member_box li{display: flex; align-items: center; gap: 10px;}
.header__right .member_box a{font-size: 16px; font-weight: 500; position: relative;}
.header__right .member_box a:after{content: ""; display: block; width: 1px; height: 9px;
background: #999; position: absolute; right: -5px; top: 50%; transform: translateY(-50%);}
.header__right .member_box a:last-child:after{display: none;}
.header__right .member_box a.admin{color: var(--point-color); font-weight: 600;}
.header__right .util_box{display: flex; align-items: center; gap:10px; }
.header__right .util_box button,
.header__right .util_box a{background: none; border: none; width: 30px; height: 30px;
display: flex; align-items: center; justify-content: center; display: block;}
.header__right .util_box button img,
.header__right .util_box a img
{width: 100%; height: auto; image-rendering: auto;}
.header__right .util_box .alarm_area{position: relative;}
.header__right .util_box .alarm_area .count{display: flex; width: 20px; height: 20px ; position: absolute; background: var(--point-color); align-items: center; justify-content: center; display: flex; color: #fff; font-size: 10px; right: -4px; top: -12px; font-family: 'GmarketSans'; border-radius: 32px;}
.header__right .util_box .alarm_area > div{display: none; width: 200px; right:0; background: #fff; position: absolute; border: 1px solid #eee; }
.header__right .util_box .alarm_area > div p{font-size: 16px; padding: 12px;}
.header__right .util_box .alarm_area > div p.new{background: #ededed;}
footer{padding: 20px 0; background: #090B2A; color: #fff; font-size: 15px; text-align: center;}
.header__right .util_box .alarm_area:hover > div{display: block;}

/*검색창*/
.hd_search_box{position:absolute; top:100%; left:0; z-index:1; width:100%; background-color:#f4f7fa; height:190px; display:none;}
.hd_search_box.open{display:block;}
.hd_search_box form{    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;}
    .hd_search_box fieldset{
        display: block;
    height: 80px;
    max-width: 800px;
    width: 100%;
    position: relative; border:none;}
    .hd_search_box #searchText{
        display: block;
    width: 100%;
    height: 100%;
    padding: 0 45px 0 34px;
    margin: 0;
    float: none;
    line-height: 1.3;
    font-size: 20px;
    color: #101010;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ededed;
    }
.hd_search_box input[type="submit"]{    
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
        background-image:url(../img/common/search.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    transition: all .3s;
    background-size: cover;
    border: none;
}
.hd_search_box .search_close{position: absolute;
    left: calc(50% + 494px);
    top: 50%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:20px auto;
    background-image:url(/img/common/search-close.png);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    font-size: 0;
    margin-top: -20px;
    transition: all .3s;}
    
    @media all and (max-width:1200px){
     .hd_search_box form{justify-content: left; padding-left:12px;}
    .hd_search_box fieldset{    width: calc(100% - 95px); max-width:unset;}
    .hd_search_box .search_close{right:30px; left:auto;}
    }
    

/*모바일 관련*/
.header .menu_btn{display: none; border: none; background: none;}
.header .menu_btn img{width:100%;}
.header .close_btn{z-index: 2; background: none; border: none; top: 30px; right: 30px; position: absolute; display: none;}

/*반응형*/
@media all and (max-width:1000px){
    .header .menu_btn{display: block; width: 30px; height: 30px;}
    .header .nav__ul{ gap:0; background: #0D052B; z-index: 1; position: fixed; top: 0; left: 0%; width: 100%; height: 100vh; flex-direction: column; padding:50px; width: 100%; left: -100%;}
    .header nav ul li{width:100% ; border-bottom: 1px solid #fff;}
    .header nav ul li a{color: #fff; font-family: 'GmarketSans'; padding: 20px; display: block;}
    .header__right{gap: 10px;}
}