<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<div layout:fragment="content">
    <div class="sub_page">
        <div class="inner">
            <div class="product_info">
                <div class="img">
                    <img th:src="${book.imgUrl}" alt="">
                </div>
                <div class="info">
                    <p class="title" th:text="${book.title}"></p>
                    <p class="author" th:text="${book.author}"></p>
                    <p class="price" th:text="${book.price}" ></p>
                    <a th:href="${book.productUrl}">알라딘 바로가기</a>
                </div>
            </div>
            <!-- 중고 없을때 -->
            <!--
           <div class="alert_box">
               <img src="../img/sub/alert.svg">
               <p>해당 도서의 중고상품이 없습니다.</p>
           </div>-->
            <div class="board_info">
                <div>
                    <p><span class="count">23</span> 개의 중고상품</p>
                </div>
                <div class="sort_btn_wrap">
                    <button class="on" type="button">정확도순</button>
                    <button type="button">최신순</button>
                </div>
            </div>
            <div class="use_product_wrap">
                <ul class="use_product_list animation active">
                    <li class="itm">
                        <a href="/foreign/detail">
                            <div class="img_wrap">
                                <span class="label label01">국내 도서</span>
                                <div class="img">
                                    <img src="../img/main/sample.jpg" alt="">
                                </div>
                            </div>
                            <div class="txt">
                                <p class="title"><span>[중고] </span>여름의 비행운</p>
                                <p class="price">7,000원 <span>3,000원</span></p>
                                <div class="btn_box">
                                    <button>장바구니</button>
                                    <button>구매하기</button>
                                </div>
                                <div class="info_box">
                                    <i>?</i>
                                    <div>찢어짐, 표지없음</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="itm">
                        <a href="#">
                            <div class="img_wrap">
                                <span class="label label01">국내 도서</span>
                                <div class="img">
                                    <img src="../img/main/sample.jpg" alt="">
                                </div>
                            </div>
                            <div class="txt">
                                <p class="title"><span>[중고] </span>여름의 비행운 여름의 비행운 여름의 비행운 여름의 비행운 여름의 비행운</p>
                                <p class="price">7,000원 <span>3,000원</span></p>
                                <div class="btn_box">
                                    <button>장바구니</button>
                                    <button>구매하기</button>
                                </div>
                                <div class="info_box">
                                    <i>?</i>
                                    <div>찢어짐, 표지없음</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="itm">
                        <a href="#">
                            <div class="img_wrap">
                                <span class="label label02">외국 도서</span>
                                <div class="img">
                                    <img src="../img/main/sample.jpg" alt="">
                                </div>
                            </div>
                            <div class="txt">
                                <p class="title"><span>[중고] </span>여름의 비행운 여름의 비행운 여름의 비행운 여름의 비행운 여름의 비행운</p>
                                <p class="price">7,000원 <span>3,000원</span></p>
                                <div class="btn_box">
                                    <button>장바구니</button>
                                    <button>구매하기</button>
                                </div>
                                <div class="info_box">
                                    <i>?</i>
                                    <div>찢어짐, 표지없음</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--
    <div class="pop_wrap">
      <div class="popup">
        <img src="../img/sub/alert.svg" alt="">
        <h3>로그인이 필요한 서비스입니다.</h3>
        <p>로그인하러 가시겠습니까?</p>
        <div class="btn_wrap">
          <button class="btn01">로그인</button>
          <button class="btn02">취소</button>
        </div>
      </div>
    </div>-->

    </div>
</div>